<script type="text/javascript" charset="utf-8">

  <% list = YAML.load(File.open("public/autocomplete.yml")) %>

  $(function() {
    $("#title").autocomplete({
      source: <%=raw list %>
    });
  });
</script>

<div class="container">
  <div class="row" style="margin-top: 50px;">
    <h1 style="margin-bottom: 30px;">新規問題集リクエストフォーム</h1>
    <h2 style="margin-bottom: 30px;">試験番号を入力すると候補が表示されますので、選択してリクエストください。
      <br>できる限りご希望にお応えさせていただきます！</h2>
    <%= form_tag("/home/submit", :method => "post", :remote => true) do %>
      <%= text_field_tag :title, "", :class => "form-control" %>
      <%= submit_tag "リクエスト", :class => "btn btn-default col-md-2 pull-right", :style => "margin-top: 30px;" %>
    <% end %>
  </div>
  <div id="notification-error" class="notice notice-warning" style="color: red;"></div>
  <div class="row" style="margin-top: 50px;">
    <h2 style="margin-bottom: 30px;">現在のリクエスト状況</h2>
    <div class="result" id="result">
      <%= render partial: "result", :locals => {result: @result, available: 1} %>
    </div>
  </div>
</div>
